<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cafeboy.forever"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
    <!-- 允许存入收件箱 -->
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 允许振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 开机启动 -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.SleepAlarmService"
            android:enabled="true"
            android:label="@string/app_name" />

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:label="@string/app_name" />
        <!-- receivers -->
        <receiver
            android:name=".receiver.BootCompletedReceiver"
            android:enabled="true"
            android:label="@string/app_name"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>