<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Install</servlet-name>
		<servlet-class>blog.InstallServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Install</servlet-name>
		<url-pattern>/install</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Blog</servlet-name>
		<servlet-class>blog.BlogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Blog</servlet-name>
		<url-pattern>/blog</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>blog.AddArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>blog.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	<!-- admin -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>blog.admin.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/admin/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>blog.admin.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/admin/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>blog.admin.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/admin/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddText</servlet-name>
		<servlet-class>blog.admin.AddTextServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddText</servlet-name>
		<url-pattern>/admin/addtext</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
