body {
	font-size: 12px;
}
/*未点击过的链接*/
a:link {
	color: blue;
	text-decoration: none;
}
/*已点击过的链接*/
a:visited {
	color: orange;
	text-decoration: none;
}
/*鼠标停留在上面的链接*/
a:hover {
	color: green;
	text-decoration: underline;
}
/*当前激活的链接*/
a:active {
	color: red;
	text-decoration: underline;
}
img {
	border: 0px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li.list {
	float: left;
	display: inline;
    list-style: none;
    width: 120px;
    height: 160px;
    text-align: center;
    overflow: hidden;
}
li.list img {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border: 5px #ccc solid;
}
/*li.list a:hover img*/
li.list a img:hover {
	border: 5px solid red;
}
#single {
	position: absolute;
	display: none;
	width: 320px;
	height: 240px;
	overflow: hidden;
	z-index: 999;
}
#single img {
	border: 2px solid #ccc;
	border-radius: 20px;
}

#scroll {
	background: url("../img/zsnos.png") no-repeat 0px 0px;
	height: 30px;
	width: 18px;
	margin: -15px -190px 0px 0px;
	overflow: hidden;
	position: fixed;
	right: 50%;
	top: 50%;
}
#scroll:hover {
	background: url("../img/zsnos.png") no-repeat 0px -30px;
}
#top {
	cursor: pointer;
	height: 15px;
	width: 18px;
}
#bottom {
	cursor: pointer;
	height: 15px;
	width: 18px;
}
#header {
	border: 2px #ccc solid;
}
#footer {
	border: 2px #ccc solid;
	clear: both;
}