<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!--
	- Middle tier application context definition for the image database.
-->
<beans>

	<bean id="ActivitiesDAO" class="com.onegrid.meetmanager.dao.impl.ActivitiesDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="AgreementDAO" class="com.onegrid.meetmanager.dao.impl.AgreementDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="AwardsDAO" class="com.onegrid.meetmanager.dao.impl.AwardsDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="AwardsPrizeDAO" class="com.onegrid.meetmanager.dao.impl.AwardsPrizeDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="DepartmentDAO" class="com.onegrid.meetmanager.dao.impl.DepartmentDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="FeeItemDAO" class="com.onegrid.meetmanager.dao.impl.FeeItemDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="FeeItemPropertyDAO" class="com.onegrid.meetmanager.dao.impl.FeeItemPropertyDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="FeteDAO" class="com.onegrid.meetmanager.dao.impl.FeteDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="MeetingRoomDAO" class="com.onegrid.meetmanager.dao.impl.MeetingRoomDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="LectureDAO" class="com.onegrid.meetmanager.dao.impl.LectureDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="MeetingArrangementsDAO" class="com.onegrid.meetmanager.dao.impl.MeetingArrangementsDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="ArrangementsSeminarsDAO" class="com.onegrid.meetmanager.dao.impl.ArrangementsSeminarsDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="MealDAO" class="com.onegrid.meetmanager.dao.impl.MealDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="FeteRecordDAO" class="com.onegrid.meetmanager.dao.impl.FeteRecordDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="IncomeDAO" class="com.onegrid.meetmanager.dao.impl.IncomeDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="JoinActivitiesRecordDAO" class="com.onegrid.meetmanager.dao.impl.JoinActivitiesRecordDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="LimitDAO" class="com.onegrid.meetmanager.dao.impl.LimitDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="LotteryDAO" class="com.onegrid.meetmanager.dao.impl.LotteryDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="LotteryRecordDAO" class="com.onegrid.meetmanager.dao.impl.LotteryRecordDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="MeetingFeeItemDAO" class="com.onegrid.meetmanager.dao.impl.MeetingFeeItemDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="MeetingFeeItemPropertyDAO" class="com.onegrid.meetmanager.dao.impl.MeetingFeeItemPropertyDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="MeetingInfoDAO" class="com.onegrid.meetmanager.dao.impl.MeetingInfoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="NoticeDAO" class="com.onegrid.meetmanager.dao.impl.NoticeDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="OutlayDAO" class="com.onegrid.meetmanager.dao.impl.OutlayDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="PriceDAO" class="com.onegrid.meetmanager.dao.impl.PriceDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="RegisterDAO" class="com.onegrid.meetmanager.dao.impl.RegisterDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="RelativesDAO" class="com.onegrid.meetmanager.dao.impl.RelativesDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="RoleDAO" class="com.onegrid.meetmanager.dao.impl.RoleDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="RoleLimitDAO" class="com.onegrid.meetmanager.dao.impl.RoleLimitDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="RoleLimitIdDAO" class="com.onegrid.meetmanager.dao.impl.RoleLimitIdDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="SendNotificationPlanDAO" class="com.onegrid.meetmanager.dao.impl.SendNotificationPlanDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="SysaccountDAO" class="com.onegrid.meetmanager.dao.impl.SysaccountDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="UnitsDAO" class="com.onegrid.meetmanager.dao.impl.UnitsDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="UnitsTypeDAO" class="com.onegrid.meetmanager.dao.impl.UnitsTypeDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="UserDAO" class="com.onegrid.meetmanager.dao.impl.UserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="RoomTypeDAO" class="com.onegrid.meetmanager.dao.impl.RoomTypeDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="TradeTypeDAO" class="com.onegrid.meetmanager.dao.impl.TradeTypeDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="PriceRoomTypeDAO" class="com.onegrid.meetmanager.dao.impl.PriceRoomTypeDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
    <!-- Service -->
	<bean id="SysaccountService" class="com.onegrid.meetmanager.service.impl.SysaccountServiceImpl">
		<property name="sysaccountDAO" ref="SysaccountDAO" />
		<property name="limitDAO" ref="LimitDAO" />
	</bean>
	<bean id="DepartmentService" class="com.onegrid.meetmanager.service.impl.DepartmentServiceImpl">
		<property name="departmentDAO" ref="DepartmentDAO" />
	</bean>
	<bean id="MeetingInfoService" class="com.onegrid.meetmanager.service.impl.MeetingServiceImpl">
		<property name="meetingInfoDAO" ref="MeetingInfoDAO" />
		<property name="registerDAO" ref="RegisterDAO" />
	</bean>
	<bean id="FeteService" class="com.onegrid.meetmanager.service.impl.FeteServiceImpl">
		<property name="feteDAO" ref="FeteDAO" />
	</bean>
	<bean id="LectureService" class="com.onegrid.meetmanager.service.impl.LectureServiceImpl">
		<property name="lectureDAO" ref="LectureDAO" />
	</bean>
	<bean id="MeetingArrangementsService" class="com.onegrid.meetmanager.service.impl.MeetingArrangementsServiceImpl">
		<property name="meetingArrangementsDAO" ref="MeetingArrangementsDAO" />
	</bean>
	<bean id="ArrangementsSeminarsService" class="com.onegrid.meetmanager.service.impl.ArrangementsSeminarsServiceImpl">
		<property name="arrangementsSeminarsDAO" ref="ArrangementsSeminarsDAO" />
	</bean>
	<bean id="MeetingRoomService" class="com.onegrid.meetmanager.service.impl.MeetingRoomServiceImpl">
		<property name="meetingRoomDAO" ref="MeetingRoomDAO" />
	</bean>
	<bean id="MealService" class="com.onegrid.meetmanager.service.impl.MealServiceImpl">
		<property name="mealDAO" ref="MealDAO" />
	</bean>
	<bean id="AwardsService" class="com.onegrid.meetmanager.service.impl.AwardsServiceImpl">
		<property name="awardsDAO" ref="AwardsDAO" />
		<property name="lotteryDAO" ref="LotteryDAO" />
		<property name="unitsDAO" ref="UnitsDAO" />
		<property name="meetingInfoDAO" ref="MeetingInfoDAO" />
		<property name="lotteryRecordDAO" ref="LotteryRecordDAO" />
	</bean>
	<bean id="ActivitiesService" class="com.onegrid.meetmanager.service.impl.ActivitiesServiceImpl">
		<property name="activitiesDAO" ref="ActivitiesDAO" />
	</bean>
	<bean id="JoinActivitiesRecordService" class="com.onegrid.meetmanager.service.impl.JoinActivitiesRecordServiceImpl">
		<property name="joinActivitiesRecordDAO" ref="JoinActivitiesRecordDAO" />
		<property name="userDAO" ref="UserDAO" />
	</bean>
	<bean id="FeteRecordService" class="com.onegrid.meetmanager.service.impl.FeteRecordServiceImpl">
		<property name="feteRecordDAO" ref="FeteRecordDAO" />
		<property name="userDAO" ref="UserDAO" />
	</bean>
	
	<bean id="UserService" class="com.onegrid.meetmanager.service.impl.UserServiceImpl">
		<property name="userDAO" ref="UserDAO" />
	</bean>
	<bean id="PriceService" class="com.onegrid.meetmanager.service.impl.PriceServiceImpl">
		<property name="priceDAO" ref="PriceDAO" />
		<property name="unitsDAO" ref="UnitsDAO" />
		<property name="roomTypeDAO" ref="RoomTypeDAO" />
		<property name="priceRoomTypeDAO" ref="PriceRoomTypeDAO" />
		<property name="meetingInfoDAO" ref="MeetingInfoDAO" />
	</bean>
	<bean id="AgreementService" class="com.onegrid.meetmanager.service.impl.AgreementServiceImpl">
		<property name="agreementDAO" ref="AgreementDAO" />
		<property name="meetingInfoDAO" ref="MeetingInfoDAO" />
		<property name="priceDAO" ref="PriceDAO" />
		<property name="feeItemDAO" ref="FeeItemDAO" />
		<property name="meetingFeeItemDAO" ref="MeetingFeeItemDAO" />
	</bean>
	<bean id="NoticeService" class="com.onegrid.meetmanager.service.impl.NoticeServiceImpl">
		<property name="userDAO" ref="UserDAO" />
		<property name="noticeDAO" ref="NoticeDAO" />
		<property name="roomTypeDAO" ref="RoomTypeDAO" />
		<property name="sendNotificationPlanDAO" ref="SendNotificationPlanDAO" />
	</bean>
	<bean id="ReachService" class="com.onegrid.meetmanager.service.impl.ReachServiceImpl">
		<property name="meetingInfoDAO" ref="MeetingInfoDAO" />
		<property name="registerDAO" ref="RegisterDAO" />
		<property name="userDAO" ref="UserDAO" />
		<property name="lotteryDAO" ref="LotteryDAO" />
		<property name="incomeDAO" ref="IncomeDAO" />
		<property name="unitsDAO" ref="UnitsDAO" />
		<property name="sendNotificationPlanDAO" ref="SendNotificationPlanDAO" />
	</bean>
	<bean id="FeeItemService" class="com.onegrid.meetmanager.service.impl.FeeItemServiceImpl">
		<property name="feeItemDAO" ref="FeeItemDAO" />
	</bean>
	<bean id="MeetingFeeItemService" class="com.onegrid.meetmanager.service.impl.MeetingFeeItemServiceImpl">
		<property name="meetingFeeItemDAO" ref="MeetingFeeItemDAO" />
		<property name="feeItemDAO" ref="FeeItemDAO" />
		<property name="meetingInfoDAO" ref="MeetingInfoDAO" />
	</bean>
	<bean id="IncomeService" class="com.onegrid.meetmanager.service.impl.IncomeServiceImpl">
		<property name="incomeDAO" ref="IncomeDAO" />
		<property name="meetingFeeItemDAO" ref="MeetingFeeItemDAO" />
	</bean>
	<bean id="UnitsService" class="com.onegrid.meetmanager.service.impl.UnitsServiceImpl">
		<property name="unitsDAO" ref="UnitsDAO" />
		<property name="unitsTypeDAO" ref="UnitsTypeDAO" />
	</bean>
	<bean id="UnitsTypeService" class="com.onegrid.meetmanager.service.impl.UnitsTypeServiceImpl">
		<property name="unitsTypeDAO" ref="UnitsTypeDAO" />
	</bean>
	<bean id="PaymentService" class="com.onegrid.meetmanager.service.impl.PaymentServiceImpl">
		<property name="meetingInfoDAO" ref="MeetingInfoDAO" />
		<property name="meetingFeeItemDAO" ref="MeetingFeeItemDAO" />
		<property name="incomeDAO" ref="IncomeDAO" />
		<property name="outlayDAO" ref="OutlayDAO" />
		<property name="unitsDAO" ref="UnitsDAO" />
		<property name="userDAO" ref="UserDAO" />
	</bean>
	<bean id="RoleService" class="com.onegrid.meetmanager.service.impl.RoleServiceImpl">
		<property name="roleDAO" ref="RoleDAO" />
	</bean>
	<bean id="LimitService" class="com.onegrid.meetmanager.service.impl.LimitServiceImpl">
		<property name="limitDAO" ref="LimitDAO" />
	</bean>
	<bean id="RoleLimitService" class="com.onegrid.meetmanager.service.impl.RoleLimitServiceImpl">
		<property name="roleLimitDAO" ref="RoleLimitDAO" />
	</bean>
	<bean id="RoomTypeService" class="com.onegrid.meetmanager.service.impl.RoomTypeServiceImpl">
		<property name="roomTypeDAO" ref="RoomTypeDAO" />
	</bean>
	<bean id="TradeTypeService" class="com.onegrid.meetmanager.service.impl.TradeTypeServiceImpl">
		<property name="tradeTypeDAO" ref="TradeTypeDAO" />
	</bean>
	
	<!-- action -->
	<bean name="loginAction" class="com.onegrid.meetmanager.web.action.LoginAction" scope="prototype">
		<property name="sysaccountService" ref="SysaccountService" />
	</bean>
	<bean name="mainAction" class="com.onegrid.meetmanager.web.action.MainAction" scope="prototype">
	</bean>
	<bean name="accountAction" class="com.onegrid.meetmanager.web.action.AccountAction" scope="prototype">
		<property name="sysaccountService" ref="SysaccountService" />
		<property name="departmentService" ref="DepartmentService" />
	</bean>
	<bean name="userAction" class="com.onegrid.meetmanager.web.action.UserAction" scope="prototype">
		<property name="userService" ref="UserService" />
		<property name="unitsService" ref="UnitsService" />
	</bean>
	<bean name="meetingAction" class="com.onegrid.meetmanager.web.action.MeetingAction" scope="prototype">
		<property name="meetingService" ref="MeetingInfoService" />
		<property name="priceService" ref="PriceService" />
	</bean>
	<bean name="feteAction" class="com.onegrid.meetmanager.web.action.FeteAction" scope="prototype">
		<property name="feteService" ref="FeteService" />
		<property name="unitsService" ref="UnitsService" />
	</bean>
	<bean name="meetingRoomAction" class="com.onegrid.meetmanager.web.action.MeetingRoomAction" scope="prototype">
		<property name="meetingRoomService" ref="MeetingRoomService" />
	</bean>
	<bean name="lectureAction" class="com.onegrid.meetmanager.web.action.LectureAction" scope="prototype">
		<property name="lectureService" ref="LectureService" />
		<property name="userService" ref="UserService" />
		<property name="unitsService" ref="UnitsService" />
	</bean>
	<bean name="meetingArrangementsAction" class="com.onegrid.meetmanager.web.action.MeetingArrangementsAction" scope="prototype">
		<property name="meetingArrangementsService" ref="MeetingArrangementsService" />
		<property name="meetingRoomService" ref="MeetingRoomService" />
	</bean>
	<bean name="arrangementsSeminarsAction" class="com.onegrid.meetmanager.web.action.ArrangementsSeminarsAction" scope="prototype">
		<property name="arrangementsSeminarsService" ref="ArrangementsSeminarsService" />
		<property name="lectureService" ref="LectureService" />
	</bean>
	<bean name="mealAction" class="com.onegrid.meetmanager.web.action.MealAction" scope="prototype">
		<property name="mealService" ref="MealService" />
	</bean>
	<bean name="activitiesAction" class="com.onegrid.meetmanager.web.action.ActivitiesAction" scope="prototype">
		<property name="activitiesService" ref="ActivitiesService" />
	</bean>
	<bean name="awardsAction" class="com.onegrid.meetmanager.web.action.AwardsAction" scope="prototype">
		<property name="awardsService" ref="AwardsService" />
		<property name="meetingArrangementsService" ref="MeetingArrangementsService" />
	</bean>
	
	<bean name="joinActivitiesRecordAction" class="com.onegrid.meetmanager.web.action.JoinActivitiesRecordAction" scope="prototype">
		<property name="joinActivitiesRecordService" ref="JoinActivitiesRecordService" />
	</bean>
	<bean name="feteRecordAction" class="com.onegrid.meetmanager.web.action.FeteRecordAction" scope="prototype">
		<property name="feteRecordService" ref="FeteRecordService" />
	</bean>
	<bean name="priceAction" class="com.onegrid.meetmanager.web.action.PriceAction" scope="prototype">
		<property name="priceService" ref="PriceService" />
	</bean>
	<bean name="agreementAction" class="com.onegrid.meetmanager.web.action.AgreementAction" scope="prototype">
		<property name="agreementService" ref="AgreementService" />
	</bean>
	<bean name="unitsAction" class="com.onegrid.meetmanager.web.action.UnitsAction" scope="prototype">
		<property name="unitsService" ref="UnitsService" />
		<property name="tradeTypeService" ref="TradeTypeService" />
	</bean>
	<bean name="noticeAction" class="com.onegrid.meetmanager.web.action.NoticeAction" scope="prototype">
		<property name="noticeService" ref="NoticeService" />
	</bean>
	<bean name="reachAction" class="com.onegrid.meetmanager.web.action.ReachAction" scope="prototype">
		<property name="reachService" ref="ReachService" />
	</bean>
	<bean name="feeItemAction" class="com.onegrid.meetmanager.web.action.FeeItemAction" scope="prototype">
		<property name="feeItemService" ref="FeeItemService" />
	</bean>
	<bean name="meetingFeeItemAction" class="com.onegrid.meetmanager.web.action.MeetingFeeItemAction" scope="prototype">
		<property name="meetingFeeItemService" ref="MeetingFeeItemService" />
	</bean>
	<bean name="paymentAction" class="com.onegrid.meetmanager.web.action.PaymentAction" scope="prototype">
		<property name="paymentService" ref="PaymentService" />
	</bean>
	<bean name="incomeAction" class="com.onegrid.meetmanager.web.action.IncomeAction" scope="prototype">
		<property name="incomeService" ref="IncomeService" />
	</bean>
	<bean name="roleAction" class="com.onegrid.meetmanager.web.action.RoleAction" scope="prototype">
		<property name="roleService" ref="RoleService" />
	</bean>
	<bean name="limitAction" class="com.onegrid.meetmanager.web.action.LimitAction" scope="prototype">
		<property name="limitService" ref="LimitService" />
	</bean>
	<bean name="roleLimitAction" class="com.onegrid.meetmanager.web.action.RoleLimitAction" scope="prototype">
		<property name="roleService" ref="RoleService" />
		<property name="limitService" ref="LimitService" />
		<property name="roleLimitService" ref="RoleLimitService" />
	</bean>
	<bean name="roomTypeAction" class="com.onegrid.meetmanager.web.action.RoomTypeAction" scope="prototype">
		<property name="roomTypeService" ref="RoomTypeService" />
	</bean>
	<bean name="tradeTypeAction" class="com.onegrid.meetmanager.web.action.TradeTypeAction" scope="prototype">
		<property name="tradeTypeService" ref="TradeTypeService" />
		<property name="unitsService" ref="UnitsService" />
		<property name="unitsTypeService" ref="UnitsTypeService" />
	</bean>
</beans>